{% load static %}
{% load custom_tags %}


<footer class="relative bg-slate-900 dark:bg-slate-800">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="relative py-12">
                <div class="relative w-full">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">

                        <div class="md:col-span-3">
                            <a href="/" class="flex justify-center md:justify-start focus:outline-none">
                                <img src="{% static 'images/logo.png' %}" style="height:100px;" class="" alt="">
                            </a>
                        </div>

                        <div class="md:col-span-9">
                            <ul class="list-disc footer-list ltr:md:text-right rtl:md:text-left text-center space-x-3">
                                <li class="inline-block">
                                    <a href="{% url 'website:home' %}"
                                       class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Home</a>
                                </li>
                                <li class="inline-block mt-[10px] md:mt-0">
                                    <a href="{% url 'accounts:cross-auth-view' %}"
                                       class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">
                                        Login
                                    </a>
                                </li>
                                <li class="inline-block mt-[10px] md:mt-0">
                                    <a href="{% url 'website:about' %}"
                                       class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">About
                                        us
                                    </a>
                                </li>
                                <li class="inline-block mt-[10px] md:mt-0">
                                    <a href="{% url 'website:contact' %}"
                                       class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Contact
                                        us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>