{% load static %}
<!--&lt;!&ndash; Footer start &ndash;&gt;-->
<!--<footer class="landing-footer">-->
<!--    <div class="container">-->

<!--        <div class="row justify-content-center">-->

<!--            <div class="col-lg-6 text-center">-->
<!--                <p class="mb-2">2022 - {% now 'Y' %} © Project - Designed and Developed by Team-->
<!--                    <b class="text-danger"><i class="fa fa-sort-alpha-down"></i> Alpha</b>-->
<!--                </p>-->
<!--                <p>-->
<!--                    Project is under-development by team Alpha under the super-vision of Sir .-->
<!--                </p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; end container &ndash;&gt;-->
<!--</footer>-->
<!--&lt;!&ndash; Footer end &ndash;&gt;-->


<!--WEBSITE------------------------------------------------------------------>
<footer class="relative bg-slate-900 dark:bg-slate-800" >
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="relative py-12">
                <div class="relative w-full">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">

                        <div class="md:col-span-3">
                            <a href="#" class="flex justify-center md:justify-start focus:outline-none">
                                <img src="{% static 'website/assets/images/logo-light.png' %}" class="" alt="">
                            </a>
                        </div>

                        <div class="md:col-span-9">
                            <ul class="list-disc footer-list ltr:md:text-right rtl:md:text-left text-center space-x-3">
                                <li class="inline-block">
                                    <a href="index.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Home</a>
                                </li>
                                <li class="inline-block mt-[10px] md:mt-0">
                                    <a href="services.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">How
                                    it works</a></li>
                                <li class="inline-block mt-[10px] md:mt-0">
                                    <a href="#" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Create
                                    a job</a></li>
                                <li class="inline-block mt-[10px] md:mt-0">
                                    <a href="aboutus.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">About
                                    us</a></li>
                                <li class="inline-block mt-[10px] md:mt-0">
                                    <a href="contact.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out font-medium">Contact
                                    us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>