{% load custom_tags %}
{% load static %}

<!--WEBSITE------------------------------------------------------------------------------------------------------------>

<nav id="topnav" class="defaultscroll is-sticky nav-sticky">
    <div class="container">
        <a class="logo" href="/">
            <div class="block sm:hidden">

                <img src="{% static 'images/logo.png' %}" class="h-10 inline-block dark:hidden" alt="">
                <img src="{% static 'images/logo.png' %}" class="h-10 hidden dark:inline-block" alt="">
            </div>
            <div class="sm:block hidden">
                        <span class="inline-block dark:hidden">
                                <img src="{% static 'images/logo.png' %}" class="h-[24px] l-dark" alt="">
                                <img src="{% static 'images/logo.png' %}" class="h-[24px] l-light" alt="">
                        </span>
                <img src="{% static 'images/logo.png' %}" class="h-[24px] hidden dark:inline-block" alt="">
            </div>
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <div id="navigation">
            <ul class="navigation-menu justify-end nav-light">
                <li><a href="{% url 'website:home' %}" class="sub-menu-item">Home</a></li>
                <li><a href="{% url 'website:company' %}" class="sub-menu-item">Company</a></li>
                <li><a href="{% url 'website:internship' %}" class="sub-menu-item">Internships</a></li>
                <li><a href="{% url 'website:about' %}" class="sub-menu-item">About</a></li>
                <li><a href="{% url 'website:contact' %}" class="sub-menu-item">Contact</a></li>
                <li>
                    <a href="{% url 'accounts:cross-auth-view' %}" class="sub-menu-item">
                        {% if request.user.is_authenticated %}
                            Dashboard
                        {% else %}
                            Login
                        {% endif %}
                    </a>
                </li>
                {#                <li>#}
                {#                    <a href="{% url 'accounts:cross-auth-view' %}" class="sub-menu-item">#}
                {#                        {% if request.user.is_authenticated %}Dashboard{% else %}Login{% endif %}#}
                {#                    </a>#}
                {#                </li>#}
            </ul>
        </div>
    </div>
</nav>