<div class="container md:mt-24 mt-16">
    <div class="grid grid-cols-1 pb-8 text-center">
        <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Here's why
            you'll love it Jobstack</h3>

        <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own
            personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
    </div>

    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
        <div class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 text-center transition-all duration-500">
            <div class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                <i class="uil uil-phone text-[30px] text-emerald-600 group-hover:text-white"></i>
            </div>

            <div class="mt-4">
                <a href="#" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">24/7
                    Support</a>

                <p class="text-slate-400 mt-3 mb-2">Many desktop publishing now use and a search for job.</p>

            </div>
        </div>

        <div class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 text-center transition-all duration-500">
            <div class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                <i class="uil uil-atom text-[30px] text-emerald-600 group-hover:text-white"></i>
            </div>

            <div class="mt-4">
                <a href="#" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Tech
                    &amp; Startup Jobs</a>

                <p class="text-slate-400 mt-3 mb-2">Many desktop publishing now use and a search for job.</p>

            </div>
        </div>

        <div class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 text-center transition-all duration-500">
            <div class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                <i class="uil uil-user-arrows text-[30px] text-emerald-600 group-hover:text-white"></i>
            </div>

            <div class="mt-4">
                <a href="#" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Quick
                    &amp; Easy</a>

                <p class="text-slate-400 mt-3 mb-2">Many desktop publishing now use and a search for job.</p>

            </div>
        </div>

        <div class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 text-center transition-all duration-500">
            <div class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                <i class="uil uil-hourglass text-[30px] text-emerald-600 group-hover:text-white"></i>
            </div>

            <div class="mt-4">
                <a href="#" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Save
                    Time</a>

                <p class="text-slate-400 mt-3 mb-2">Many desktop publishing now use and a search for job.</p>

            </div>
        </div>
    </div>