{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}
    Candidates
{% endblock %}


{% block content %}

    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body border-bottom">
                    <h4 class="mb-0">Applications</h4>
                </div>

                <div class="card-body">
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table project-list-table table-nowrap table-centered table-borderless">
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <b>{{ object.job.company.name }}</b>
                                        </td>
                                        <td>
                                            {{ object.job.title }}
                                        </td>
                                        <td>
                                            <h5 class="text-truncate font-size-14 mb-0">
                                                {% if object.job.status == 'o' %}
                                                    <b class="text-success">
                                                        <i class="fa fa-check-circle"></i>
                                                        {{ object.job.get_status_display }}
                                                    </b>
                                                {% else %}
                                                    <b class="text-danger">
                                                        <i class="fa fa-check-circle"></i>
                                                        {{ object.job.get_status_display }}
                                                    </b>
                                                {% endif %}
                                            </h5>
                                        </td>
                                        <td>
                                            <h5 class="text-truncate font-size-14 mb-0">
                                                <small>Applied On</small><br>
                                                {{ object.created_on }}
                                            </h5>
                                        </td>
                                        <td>
                                            <h5 class="text-truncate font-size-14 mb-0">
                                                <small>Application status</small><br>
                                                {% if object.status == 'app' %}
                                                    <b class="text-secondary"><i
                                                            class="fa fa-exclamation-circle"></i> {{ object.get_status_display }}
                                                    </b>
                                                {% elif object.status == 'pen' %}
                                                    <b class="text-warning"><i
                                                            class="fa fa-clock"></i> {{ object.get_status_display }}</b>
                                                {% elif object.status == 'rej' %}
                                                    <b class="text-danger fa fa-times"><i
                                                            class="fa fa-cancel"></i> {{ object.get_status_display }}
                                                    </b>
                                                {% elif object.status == 'acc' %}
                                                    <b class="text-success"><i
                                                            class="fa fa-check-circle"></i> {{ object.get_status_display }}
                                                    </b>
                                                {% endif %}
                                            </h5>
                                        </td>
                                        <td>
                                            <a href="{% url 'customer:application-update' object.pk %}"
                                               class="text-primary">
                                                <b>
                                                    <i class="fa fa-link"></i> View
                                                </b>
                                            </a>
                                            <a href="{% url 'customer:application-delete' object.pk %}"
                                               class="text-danger">
                                                <b>
                                                    <i class="fa fa-trash"></i> Leave
                                                </b>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>No didn't applied for any internship</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
