{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} Apply/Update Application {% endblock %}

{% block content %}

    <div class="checkout-tabs">
            <div class="row justify-content-center">

                {# RIGHT #}
                <div class="col-xl-10 col-sm-9">
                    <form  method="POST" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade active show" id="v-pills-payment" role="tabpanel"
                                         aria-labelledby="v-pills-payment-tab">
                                        <div>
                                            <h4 class="card-title">Personal information</h4>
                                            <p class="card-title-desc">Fill all information below</p>

                                            <div class="p-4 border">
                                                {% csrf_token %}
                                                {{form|crispy}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-6">
                                <a href="{% url 'customer:application-list' %}"
                                   class="btn text-muted d-none d-sm-inline-block btn-link">
                                    <i class="mdi mdi-arrow-left mr-1"></i> My Applications </a>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right">
                                    <button type="submit" class="btn btn-success">
                                        <i class="mdi mdi-check mr-1"></i> Apply
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
    </div>

{% endblock %}
