{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}


{% block base_title %} {{ request.user }} {% endblock %}
{% block base_links %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-10">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="fa fa-clipboard-list h1 text-dark mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-0">Welcome Back</p>
                            <h5 class="mb-0">
                                {{ request.user }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="fa fa-star h1 text-warning mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-0">Reviews</p>
                            <h5 class="mb-0">
                                {{ review_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="border-bottom card-body">
                    <p class="card-title mb-0">Recommended For You</p>
                </div>
                <div class="card-body p-0">
                    {% if jobs %}

                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    {% if not request.user.is_company %}
                                        <th scope="col"></th>
                                        <th scope="col">Company</th>
                                    {% endif %}
                                    <th scope="col">Title<br>Description</th>
                                    <th scope="col">Type <br> Category</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">
                                        Start Date <br>
                                        Deadline
                                    </th>
                                    <th scope="col">Reviews</th>
                                    <th scope="col">Vacancies<br>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in jobs %}
                                    <tr>
                                        {% if not request.user.is_company %}
                                            <td>
                                                <img src="https://placehold.co/100" alt="{{ object.company.name }}"
                                                     class="avatar-sm rounded-circle">
                                            </td>
                                            <td>
                                                <p class="mb-0">
                                                    <b><a href="#">{{ object.company.name }}</a></b>
                                                </p>
                                                <p class="mb-0 small"><i
                                                        class="fa fa-location-arrow"></i> {{ object.company.city|check_null }} {{ object.company.country }}
                                                </p>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <p class="mb-0">
                                                <b><a href="#">{{ object.title }}</a></b>
                                            </p>
                                            <p class="mb-0 small">{{ object.description|truncatechars:60 }}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0">
                                                <b>{{ object.job_type }}</b>
                                            </p>
                                            <p class="mb-0 small">{{ object.category }}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0">
                                                <b>{{ object.city }}</b>
                                            </p>
                                            <p class="mb-0 small">{{ object.country }}</p>
                                        </td>
                                        <td>
                                            <i class="fa fa-clock"></i> {{ object.start_time.date }} <br>
                                            <i class="fa fa-clock text-danger"></i> {{ object.end_time.date }}
                                        </td>
                                        <td>
                                            <a href="

                                                    {% if request.user.is_company %}{% url 'company:review-list' object.pk %}{% else %}{% url 'customer:review-list' object.pk %}{% endif %}"
                                               class="text-secondary">
                                                <b class="h5">
                                                    <i class="fa fa-star text-warning"></i>
                                                    {{ object.average_rating }} ({{ object.reviews.count }})
                                                </b>
                                            </a>
                                        </td>
                                        <td>
                                            <b><i class="fa fa-chair"></i> {{ object.vacancy }}</b><br>

                                            {% if object.status == 'open' %}
                                                <b class="text-success">
                                                    <i class="fa fa-check-circle"></i> Open
                                                </b>
                                            {% else %}
                                                <b class="text-danger">
                                                    <i class="fa fa-times-circle"></i> Closed
                                                </b>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="text-danger p-4">
                            <b><i class="fa fa-exclamation-circle"></i> No internships found.</b>
                        </p>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}



