{% extends 'core/base.html' %}
{% load static %}
{% block base_title %} {{ request.user }} {% endblock %}
{% block base_links %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="fa fa-clipboard-list h2 text-dark mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-2">Total Jobs</p>
                            <h5 class="mb-0">
                                {{ application_all_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="fa fa-pen h2 text-primary mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-2">Applied</p>
                            <h5 class="mb-0">
                                {{ application_app_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="fa fa-clock h2 text-primary mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-2">Shot list</p>
                            <h5 class="mb-0">
                                {{ application_pen_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="fa fa-check-circle h2 text-success mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-2">Accepted</p>
                            <h5 class="mb-0">
                                {{ application_acc_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-12">
            <h4>Applications</h4>
            <hr>

            <div class="table-responsive">
                <table class="table project-list-table table-nowrap table-centered table-borderless">
                    <tbody>

                    {% for object in object_list %}
                        <tr>
                            <td>
                                <b>{{ object.job.company.name }}</b>
                            </td>
                            <td>
                                {{ object.job.title }}
                            </td>
                            <td>
                                <h5 class="text-truncate font-size-14 mb-0">
                                    {% if object.job.status == 'o' %}
                                        <b class="text-success">
                                            <i class="fa fa-check-circle"></i>
                                            {{ object.job.get_status_display }}
                                        </b>
                                    {% else %}
                                        <b class="text-danger">
                                            <i class="fa fa-check-circle"></i>
                                            {{ object.job.get_status_display }}
                                        </b>
                                    {% endif %}
                                </h5>
                            </td>
                            <td>
                                <h5 class="text-truncate font-size-14 mb-0">
                                    <small>Applied On</small><br>
                                    {{ object.created_on }}
                                </h5>
                            </td>
                            <td>
                                <h5 class="text-truncate font-size-14 mb-0">
                                    <small>Application status</small><br>
                                    {% if object.status == 'app' %}
                                        <b class="text-secondary"><i
                                                class="fa fa-exclamation-circle"></i> {{ object.get_status_display }}
                                        </b>
                                    {% elif object.status == 'pen' %}
                                        <b class="text-warning"><i
                                                class="fa fa-clock"></i> {{ object.get_status_display }}</b>
                                    {% else %}
                                        <b class="text-success"><i
                                                class="fa fa-check-circle"></i> {{ object.get_status_display }}</b>
                                    {% endif %}
                                </h5>
                            </td>
                            <td>
                                <a href="{% url 'customer:application-update' object.pk %}"
                                   class="text-primary">
                                    <b>
                                        <i class="fa fa-link"></i> View
                                    </b>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}



