{% load static %}
{% load custom_tags %}

{% load notifications_tags %}
<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <title>{{ app.name }} |

        {# BASE HALF TITLE #}
        {% block base_title %}{% endblock %}
        {# --------------- #}

    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <link rel="stylesheet" href="{% static 'core/css/app-dark.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'core/css/bootstrap-dark.min.css' %}">#}

    <link rel="stylesheet" href="{% static 'core/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'core/css/icons.min.css' %}">


    {# BASE LINKS THAT ARE REQUIRED FOR CERTAIN PAGE ------------- #}
    {% block base_links %}

    {% endblock %}
    {# ----------------------------------------------------------- #}

</head>
<body data-topbar="dark" data-layout="horizontal">

<!-- Begin page -->
<div id="layout-wrapper">

    {# BASE TOP NAVIGATION PANEL AREA -------------------------- #}
    {% block base_top_nav %}
        {% include 'core/base_head.html' %}
    {% endblock %}
    {# --------------------------------------------------------- #}

    {% block dont_include_details %}

        <div class="main-content">

            <div class="page-content mt-4">
                <div class="container-fluid mt-5">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">

                                    {% block page_heading %} {% endblock %}</h4>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}
</div>

<script src="{% static 'core/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'core/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'core/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'core/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'core/js/app.js' %}"></script>

<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' %}


{# BASE INTERNAL SCRIPTS OR LINKS THAT ARE REQUIRED IN PAGE #}
{% block base_internal_scripts %}

{% endblock %}
{# -------------------------------------------------------- #}
{% include 'messages.html' %}
</body>
</html>


{# BASE EXTERNAL SCRIPTS OR LINKS THAT ARE REQUIRED IN PAGE #}
{% block base_external_scripts %}

{% endblock %}
{# -------------------------------------------------------- #}