{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_content %}

    <section class="bg-slate-50 dark:bg-slate-800 md:py-24 py-16">
        <div class="container mt-10">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                <div class="lg:col-span-8 md:col-span-6">
                    <div class="md:flex items-center p-6 shadow dark:shadow-gray-700 rounded-md bg-white dark:bg-slate-900">
                        <img src="{{ object.logo|image_or_placeholder:"100" }}"
                             class="rounded-full h-28 w-28 p-4 bg-white dark:bg-slate-900 shadow dark:shadow-gray-700"
                             alt="">

                        <div class="md:ms-4 md:mt-0 mt-6">
                            <h5 class="text-xl font-semibold">{{ object.title }}</h5>
                            <div class="mt-2">
                                <span class="text-slate-400 font-medium me-2 inline-block"><i
                                        class="uil uil-building text-[18px] text-emerald-600 me-1"></i>{{ object.company.name }}</span>
                                <span class="text-slate-400 font-medium me-2 inline-block"><i
                                        class="uil uil-map-marker text-[18px] text-emerald-600 me-1"></i>{{ object.company.company_address }} - {{ object.company.city|check_null }} - {{ object.company.country }}</span>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-lg font-semibold mt-6">internship Description:</h5>

                    <p class="text-slate-400 mt-4">{{ object.description }}</p>

                    <h5 class="text-lg font-semibold mt-6">Responsibilities,Duties and Details: </h5>
                    <p class="text-slate-400 mt-4">{{ object.detailed_description }}</p>


                    <div class="mt-5">

                    </div>
                </div>

                <div class="lg:col-span-4 md:col-span-6">
                    <div class="shadow dark:shadow-gray-700 rounded-md bg-white dark:bg-slate-900 sticky top-20">
                        <div class="p-6">
                            <h5 class="text-lg font-semibold">internship Information</h5>
                        </div>

                        <div class="p-6 border-t border-slate-100 dark:border-t-gray-700">
                            <ul class="list-none">
                                <li class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-user-check h-5 w-5">
                                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="8.5" cy="7" r="4"></circle>
                                        <polyline points="17 11 19 13 23 9"></polyline>
                                    </svg>

                                    <div class="ms-4">
                                        <p class="font-medium">Status</p>
                                        <span class="text-emerald-600 font-medium text-sm">{{ object.status }}</span>
                                    </div>
                                </li>

                                <li class="flex items-center mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-map-pin h-5 w-5">
                                        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                        <circle cx="12" cy="10" r="3"></circle>
                                    </svg>

                                    <div class="ms-4">
                                        <p class="font-medium">Location:</p>
                                        <span class="text-emerald-600 font-medium text-sm">{{ object.city }} - {{ object.country }}</span>
                                    </div>
                                </li>

                                <li class="flex items-center mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-monitor h-5 w-5">
                                        <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                                        <line x1="8" y1="21" x2="16" y2="21"></line>
                                        <line x1="12" y1="17" x2="12" y2="21"></line>
                                    </svg>

                                    <div class="ms-4">
                                        <p class="font-medium">Job Category:</p>
                                        <span class="text-emerald-600 font-medium text-sm">{{ object.category.name }}</span>
                                    </div>
                                </li>

                                <li class="flex items-center mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-briefcase h-5 w-5">
                                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                    </svg>

                                    <div class="ms-4">
                                        <p class="font-medium">Vacancies:</p>
                                        <span class="text-emerald-600 font-medium text-sm">{{ object.vacancy }}</span>
                                    </div>
                                </li>

                                <li class="flex items-center mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-book h-5 w-5">
                                        <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                                        <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                                    </svg>

                                    <div class="ms-4">
                                        <p class="font-medium">Reviews</p>
                                        <span class="text-emerald-600 font-medium text-sm">{{ object.average_rating }} ({{ object.reviews.count }})</span>
                                    </div>
                                </li>

                                <li class="flex items-center mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-clock h-5 w-5">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <polyline points="12 6 12 12 16 14"></polyline>
                                    </svg>

                                    <div class="ms-4">
                                        <p class="font-medium">Date posted:</p>
                                        <span class="text-emerald-600 font-medium text-sm">{{ object.start_time|date }}</span>
                                    </div>
                                </li>

                                <li class="flex items-center mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-clock h-5 w-5 text-danger">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <polyline points="12 6 12 12 16 14"></polyline>
                                    </svg>

                                    <div class="ms-4">
                                        <p class="font-medium">Deadline:</p>
                                        <span class="text-emerald-600 font-medium text-sm">{{ object.end_time|date }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-16">
            <div class="row">
                {% if reviews %}
                	{% for object_ in reviews%}

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: block;margin: auto;">
                                    <img src="{{ object_.user.profile_image|image_or_placeholder:"100" }}"
                                         class="avatar-md rounded-circle mx-auto d-block" alt="...">
                                </div>
                                <div class="text-center mb-3">
                                    <h6 class="font-size-15 mt-3 mb-1">{{ object_.user }}</h6>
                                    <p class="mb-0 text-muted">
                                        <a href="mailto:{{ object_.email }}">{{ object_.user.email }}</a>
                                    </p>
                                </div>
                                <div class="text-center">
                                    <p class="text-muted">
                                        <b>{{ object_.description }}</b>
                                    </p>
                                </div>
                                <div class="text-center h4">
                                    {{ object_.rating|get_review_stars|safe }}
                                </div>

                            </div>
                            <div class="card-body border-top">
                                <div class="row">
                                    <div class="col-12 text-left">
                                        <i class="bx bx-calendar align-middle text-primary"></i> {{ object_.created_on }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                {% else %}
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">No Reviews Found</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="container lg:mt-24 mt-16">
            <div class="grid grid-cols-1 pb-8 text-center">
                <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Related
                    Vacancies</h3>
            </div>

            <div class="grid lg:grid-cols-6 md:grid-cols-2 mt-8 gap-[30px]">
                {% if  internships %}
                    {% for object in internships %}

                        <div class="group relative overflow-hidden md:flex justify-between items-center rounded shadow hover:shadow-md dark:shadow-gray-700 transition-all duration-500 p-5">
                            <div class="flex items-center">
                                <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                                    <img src="{{ object.logo|image_or_placeholder }}" class="h-8 w-8" alt="">
                                </div>
                                <a href="{% url 'website:internship-details' object.id %}"
                                   class="text-lg hover:text-emerald-600 font-semibold transition-all duration-500 ms-3 min-w-[180px]">
                                    {{ object.title }}
                                </a>
                            </div>

                            <div class="md:block flex justify-between md:mt-0 mt-4">
                    <span class="block">
                        <span class="bg-emerald-600/10 inline-block text-emerald-600 text-xs px-2.5 py-0.5 font-semibold rounded-full">Start</span>
                        <span class="block text-slate-400 text-sm mt-2 mb-2"><i
                                class="uil uil-clock"></i>{{ object.start_time|date }}</span>
                    </span>
                                <span class="block">
                        <span class="bg-red-600 inline-block text-white text-xs px-2.5 py-0.5 font-semibold rounded-full">End</span>
                        <span class="block text-slate-400 text-sm  mt-2"><i
                                class="uil uil-clock"></i>{{ object.end_time|date }}</span>
                    </span>
                            </div>

                            <div class="md:mt-0 mt-4">
                                <a href="#"
                                   class="btn rounded-md bg-emerald-600 hover:bg-emerald-700
                                   border-emerald-600 hover:border-emerald-700 text-white md:ms-2 w-full md:w-auto">
                                    Apply
                                    Now</a>
                            </div>

                            <span class="w-24 bg-yellow-400 text-white text-center absolute ltr:-rotate-45 rtl:rotate-45 -start-[30px] top-1"><i
                                    class="uil uil-star"></i></span>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </section>


{% endblock %}

