{% extends 'core/base.html' %}
{% load static %}
{% block base_title %} {{ request.user }} {% endblock %}
{% block base_links %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="bx bx-user-check h2 text-primary mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-2">Total internships</p>
                            <h5 class="mb-0">
                                {{ jobs_all_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="bx bx-import h2 text-success mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-2">Opened</p>
                            <h5 class="mb-0">
                                {{ jobs_open_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="bx bx-export h2 text-danger mb-0"></i>
                        </div>
                        <div class="media-body">
                            <p class="text-muted mb-2">Closed</p>
                            <h5 class="mb-0">
                                {{ jobs_close_count }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="border-bottom card-body">
                    <p class="card-title mb-0">Your internships</p>
                </div>
                <div class="card-body">
                    {% if jobs %}

                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created On</th>
                                    <th scope="col">Reviews</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in jobs %}
                                    <tr>
                                        <td>
                                            <p class="mb-0">
                                                <b><a href="#">{{ object.title }}</a></b>
                                            </p>
                                            <p class="mb-0 small">{{ object.category }}</p>
                                        </td>
                                        <td>

                                            {% if object.status == 'open' %}
                                                <b class="text-success">
                                                    <i class="fa fa-check-circle"></i> Open
                                                </b>
                                            {% else %}
                                                <b class="text-danger">
                                                    <i class="fa fa-times-circle"></i> Closed
                                                </b>
                                            {% endif %}

                                        </td>
                                        <td>{{ object.created_on.date }}</td>
                                        <td>
                                            <a href="{% url 'company:review-list' object.pk %}">
                                                <b>
                                                    <i class="fa fa-thumbs-up"></i>
                                                    {{ object.reviews.count }}
                                                </b>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'company:job-update' object.pk %}">
                                                <b><i class="fa fa-edit"></i></b>
                                            </a>
                                            <a href="{% url 'company:job-delete' object.pk %}" class="text-danger">
                                                <b><i class="fa fa-trash"></i></b>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="text-danger">
                            <b><i class="fa fa-exclamation-circle"></i> No internships found.</b>
                        </p>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}



