{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}
    internship Likes
{% endblock %}


{% block content %}

    <div class="row mb-2">
        <div class="col-lg-12">
            <h4>Liked by</h4>
            <hr>

            <div class="table-responsive">
                <table class="table project-list-table table-nowrap table-centered table-borderless">
                    <tbody>

                    {% for object in likes %}
                        <tr>
                            <td>
                                {% if object.profile_image %}
                                    <img src="{{ object.profile_image.url }}" alt="" class="avatar-sm">
                                {% else %}
                                    <img src="{% static 'core/images/logo_100.png' %}" alt="" class="avatar-sm">
                                {% endif %}
                            </td>
                            <td>
                                <h5 class="text-truncate font-size-14 mb-0">
                                    <a href="#" class="text-dark">
                                        {% if object.first_name %}
                                            {{ object.first_name }} {{ object.last_name }}<br>
                                        {% else %}
                                            - <br>
                                        {% endif %}
                                        <small>({{ object.username }})</small>
                                    </a>
                                </h5>
                            </td>
                            <td>{{ object.user.email }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
