{% extends 'application/base.html' %}

{% load i18n %}
{% load account %}

{% block base_title %}Password Reset{% endblock %}

{% block base_top_nav %}{% endblock %}

{% block content %}

    <div class="bg-danger p-4">
        <p class="text-center text-light h4 m-0">COCOGNITO</p>
        <p class="text-center text-light small">welcome to cocognito user accounts security.</p>
    </div>

    <div class="container text-secondary">

        <div>
            {% include 'application/message.html' %}
        </div>
        <div class="container text-secondary">
            <div class="row justify-content-center">
                <div class="p-4 col-10 col-sm-7 bg-light mt-5">
                    <h1>{% trans "Password Reset" %}</h1>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a
                        few
                        minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
