{% extends 'application/base.html' %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block base_title %}Password Reset{% endblock %}

{% block base_top_nav %}{% endblock %}

{% block content %}

    <div class="bg-danger p-4">
        <p class="text-center text-light h4 m-0">COCOGNITO</p>
        <p class="text-center text-light small">welcome to cocognito user accounts security.</p>
    </div>

    <div>
        {% include 'application/message.html' %}
    </div>

    <div class="container text-secondary">
        <div class="row justify-content-center">
            <div class="p-4 col-10 col-sm-7 bg-light mt-5">
                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans 'Reset My Password' %}"/>
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                    password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
