{% extends 'application/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block base_title %}Password Set{% endblock %}

{% block base_top_nav %}{% endblock %}

{% block content %}

    <div class="bg-danger p-4">
        <p class="text-center text-light h4 m-0">COCOGNITO</p>
        <p class="text-center text-light small">welcome to cocognito user accounts security.</p>
    </div>

    <div class="container text-secondary">
        <div class="row justify-content-center">
            <div class="p-4 col-10 col-sm-7 bg-light mt-5">
                <h1 class="text-center">{% trans "Change Password" %}</h1><hr>


                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">

                    {% csrf_token %}
                    {{ form|crispy }}
                    <hr>
                    <button type="submit" class="btn btn-success mb-2" name="action">{% trans "Change Password" %}</button><br>
                    <a href="{% url 'account_reset_password' %}">{% trans " If you forgot your password ? Please click here." %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
