{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Identification Check{% endblock %}
{% block base_top_nav %}{% endblock %}

{% block dont_include_details %}

    {# HOME LINK #}
    <div class="home-btn d-none d-sm-block">
        <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>

    <div class="my-4 pt-sm-5">

        {% include 'core/include/message.html' %}

        <div class="container">

            <!-- THIS IS UPPER AREA -->
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="lead mb-4" style="font-size: xx-large"><i class="fa fa-running"></i> Just One Step
                        Behind!
                    </h2>
                    <p>
                        Connect companies offering enriching internships with aspiring students seeking valuable
                        experiences. Our platform facilitates a seamless exchange, fostering a community where
                        innovation, learning, and growth converge. Join us in shaping the future of education and
                        professional development.
                    </p>
                </div>
            </div>

            <form method="post" action="">
                {% csrf_token %}

                {# FORM CONTENT -------------- #}
                <div class="row mt-4">

                    {# STUDENT #}
                    <div class="col">
                        <div class="card rounded">
                            <div class="card-body">

                                <div class="text-center">
                                    <img src="{% static 'images/logo.png' %}">
                                </div>
                            </div>
                            <div class="card-footer bg-white border-top text-center">
                                <input type="radio" value="1" name="user_type" id="user_type"
                                       class="form-check-inline"> <b class="lead">Company</b>
                            </div>

                        </div>
                    </div>

                    {# TEACHER #}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <div class="text-center">
                                    <img src="{% static 'images/logo.png' %}">
                                </div>

                            </div>
                            <div class="card-footer bg-white border-top text-center">
                                <input type="radio" value="2" name="user_type" id="user_type" class="form-check-inline">
                                <b class="lead">Internee</b>
                            </div>

                        </div>
                    </div>


                </div>

                {# SUBMISSION ---------------- #}
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary" type="submit">
                                <i class="fa fa-check-circle"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

